.blog-page {
	margin-top: 10rem;
	.wrapper {
		.blog-content{
			@include column(8);
			img.wp-post-image {
			max-width: 100%;
			height: auto !important;
			}
			@media (max-width: $mdview) {
				@include column(12);
				article:last-child .entry-details-container {
					border-bottom: none;
				}
			}
		}
	}
}

.entry-details-container {
	display: flex;
	border-bottom: 0.5px solid $darkgold;
	margin: 0 0 3rem;
	padding: 1rem 0 2rem;
	.entry-details {
		text-align: left;
		padding-top: 1.5rem;
	}
	.entry-content {
		text-align: left;
	}
	@media (max-width: $smview) {
		display: block;
	}
}

.entry-details h4, .entry-details p{
	margin: 1rem 1.5rem 1rem 0;
}

.entry-details {
	h4, p, a {
		@include sansSerif($darkgold, 0.7rem);
	}
}

.entry-content h3 a {
	color: $gold;
}

.entry-content p a i.fa.fa-chevron-right {
	color: $gold;
	margin-top: 4px;
	margin-left: 2px;
	font-size: 1.2rem;
}