nav.main-nav {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 10;
	#hotaru-logo {
		max-width: 100%;
		width: 4%;
		fill: $gold;
	}
	ul.menu {
		margin: 0;
		padding: 0;
		li {
			display: inline;
			margin-right: 10px;
			border-bottom: solid 1px transparent;
			transition: all 0.45s ease-in-out;
			&:hover a {
				border-bottom: solid 1px $gold;
			}
			a {
				@include sansSerif(white, 1rem);
				padding: 10px;
				transition: all 0.45s ease-in-out;
				&:hover {
					color: $gold;
				}
			}
		}
	}
}

nav.main-nav-scrolled {
	position: fixed;
	background: $offblack;
	width: 100%;
	top: 0;
	right: 0;
}