nav.main-nav {
	position: absolute;
	width: 100%;
	right: 0;
	z-index: 10;
	transition: background 500ms ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px 20px;
	#hotaru-logo {
		max-width: 100%;
		width: 60px;
		fill: $gold;
	}
	ul.menu {
		margin: 0;
		padding: 0;
		li {
			display: inline;
			margin-right: 10px;
			border-bottom: solid 1px transparent;
			transition: all 0.45s ease-in-out;
			&:hover a {
				border-bottom: solid 1px $gold;
			}
			a {
				@include sansSerif(white, 1rem);
				padding: 10px;
				transition: all 0.45s ease-in-out;
				&:hover {
					color: $gold;
				}
			}
		}
	}
	&.scroll {
		background: rgba(0,0,0,0.8);
		position: fixed;
      	top: -70px;
      	transform: translateY(70px);
      	transition: transform 500ms ease,background 900ms ease;
	}
}