a {
	text-decoration: none;
	color: white;
	transition: all 0.45s ease-in-out;
	&:hover {
		color: $gold;
	}
	&:active {
		color: $gold;
	}
	&:visited {
		color: white;
	}
}

/* headings */
h1 {
	@include sansSerifHeader(4rem);
}

h2 {
	@include serif($palegold, 3rem);
}

h3 {
	@include sansSerifHeader(2rem);
}

h4 {
	@include sansSerif(white, 1rem);
	margin: 2rem;
}

h5 {
	@include sansSerif(white, 0.8rem);
}

h6 {
	@include sansSerif(white, 0.6rem);
}

/* paragraphs */

p {
	line-height: 1.5;
	@include serif(white, 1rem);
}

/*blockquotes*/

blockquote {
	background: $darkgrey;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}