//TYPOGRAPHY
//font-family: Montserrat, sans-serif; (400)
//font-family: Playfair Display, serif; (400, 400i)
//font-family: 'Lato', sans-serif; (300)

//VARIABLES
$headerFont: 'Montserrat', sans-serif;
$skinnyFont: 'Lato', sans-serif;
$bodyFont: 'Playfair Display', serif;
$gold: #F4BA48; //accent colour
$palegold: #ECC98D; //for use in dark version
$darkgold: #A7884D; //for use in light version
$offblack: #181818;
$darkgrey: #2B2B2B;
$lgview: 980px;
$mdview: 768px;
$smview: 480px;

//MIXINS
@mixin sansSerifHeader($size) {
	color: $gold;
	font-size: $size;
	font-family: $headerFont;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
} //use for h1, h3 and h4

@mixin sansSerifBold($color, $size) {
	color: $color;
	font-size: $size;
	font-family: $headerFont;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
} //use for other things

@mixin sansSerif($color, $size) {
	color: $color;
	font-size: $size;
	font-family: $skinnyFont;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
} //use for other things

@mixin serif($color, $size) {
	color: $color;
	font-size: $size;
	font-family: $bodyFont;
	font-weight: 400;
} //use for h2 & body

@mixin italicSerif($color, $size) {
	color: $color;
	font-size: $size;
	font-family: $bodyFont;
	font-style: italic;
	font-weight: 400;
}